build/
.directory
.mailmap
*.orig
*.rej
*~
.hg/
*.kdev*
*.bak
log/
src/server/scripts/OutdoorPvP/OutdoorPvPTW.cpp
src/server/scripts/OutdoorPvP/OutdoorPvPTW.h
src/server/scripts/Northrend/tausendwinter.cpp
src/uwom-server/src/server/scripts/Commands/cs_tw.cpp
